// Format Navbar
.navbar {
	overflow: hidden;
	width: 100%;
	z-index: 99;
	.content {
		margin: 0 auto;
		width: 70%;
		height: 48px;
		background-color: $lightblue;
		display: flex;
		justify-content: space-around;
		a {
			// float: left;
			// display: block;
			flex: 1;
			flex-basis: 0;
			color: #f2f2f2;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 17px;
			&:hover {
				background-color: $lightnavy;
			}
			&.active {
				background-color: $navyblue;
				color: white;
			}
		}
		a:first-child {
			flex: 1.6;
		}
	}
}

// Make navbar sticky
.sticky {
	position: fixed;
	top: 0;
}
.sticky + #about-anchor {
	padding-top: $navheight;
}
