@import '_normalize';
@import '_variables';
@import '_navbar';

/*! begin website styling */

// Global Styles

body {
	background: rgb(170, 171, 184); /* Old browsers */
	background: -moz-linear-gradient(
		left,
		rgba(170, 171, 184, 1) 0%,
		rgba(230, 231, 247, 1) 33%,
		rgba(230, 231, 247, 1) 69%,
		rgba(170, 171, 184, 1) 100%
	); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		left,
		rgba(170, 171, 184, 1) 0%,
		rgba(230, 231, 247, 1) 33%,
		rgba(230, 231, 247, 1) 69%,
		rgba(170, 171, 184, 1) 100%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		to right,
		rgba(170, 171, 184, 1) 0%,
		rgba(230, 231, 247, 1) 33%,
		rgba(230, 231, 247, 1) 69%,
		rgba(170, 171, 184, 1) 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaabb8', endColorstr='#aaabb8',GradientType=1 ); /* IE6-9 */
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	// Scrolling effect on anchor links
	&.in-transition {
		transition: transform 900ms ease;
	}
}

a {
	text-decoration: none;
}

.anchor {
	// Adjust anchor points for sticky nav height
	display: block;
	height: $navheight;
	margin-top: -$navheight;
	visibility: hidden;
}

.section {
	width: 70%;
	min-width: 320px;
	@media (max-width: 768px) {
		width: 100%;
	}
	margin: 0 auto;
	background: lighten($offwhite, 22%);
	padding: 20px 0px;
}

.container {
	padding: 0;
	margin: 0 8%;
}

// Section Styling

#home {
	height: 100vh;
	background-color: $navyblue;
	.home-text-box {
		position: absolute;
		display: flex;
		align-items: center;
		left: 0;
		right: 0;
		margin: auto;
		height: 100vh;
		font-size: 1.5em;
		text-align: center;
		color: #fff;
		text-shadow: 2px 2px 1px #000;
		z-index: 1;
		.vertical-align {
			display: inline-block;
			width: 100%;
			padding-bottom: 60px;
		}
		span {
			color: $lightblue;
		}
		h1 {
			margin-bottom: 16px;
		}
		a {
			color: #fff;
			text-decoration: none;
			border: 1px solid #fff;
			padding: 2px 8px 6px 8px;
			background: rgba(0, 0, 0, 0.1);
			border-radius: 2px;
			-o-transition: 0.5s;
			-ms-transition: 0.5s;
			-moz-transition: 0.5s;
			-webkit-transition: 0.5s;
			transition: 0.5s;
			&:hover {
				background-color: rgba(255, 255, 255, 0.2);
			}
		}
	}
	#particles-js {
		position: absolute;
		width: 100%;
		height: 100vh;
		background-color: #25274d;
		background-image: url('');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
	}
}

#about {
	padding: 0;
	.container {
		overflow-y: overlay;
		overflow-x: hidden;
		padding: 20px 0px 40px 0px;
		h2 {
			font-size: 4em;
			margin: 10px 0 40px 0;
			text-align: center;
			color: $navyblue;
		}
		hr {
			border: 0;
			height: 2px;
			background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $navyblue, rgba(0, 0, 0, 0));
		}
		h4 {
			margin: 6px 0;
			font-size: 1.2em;
			text-align: center;
			color: lighten($navyblue, 0.2);
			margin-right: 30px;
		}
		p {
			margin-top: 6px;
			text-indent: 1.5em;
			font-size: 1.2em;
			margin-right: 30px;
			color: lighten($navyblue, 0.4);
		}
		img {
			float: right;
			width: 60%;
			border: 2px solid #ccc;
			border-radius: 6px;
			padding: 6px;
			margin: 10px 0 20px 10px;
			transform: rotate(0.5deg);
			-moz-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
			-webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
			box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
			@media (max-width: 935px) {
				width: 100%;
			}
		}
	}
}

#projects {
	background-color: lighten($offwhite, 17%);
	h2 {
		margin: 10px 0 40px 0;
		font-size: 4em;
		text-align: center;
		color: $navyblue;
	}
	hr {
		margin: 15px 20px;
		border: 0;
		height: 2px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $navyblue, rgba(0, 0, 0, 0));
	}
	.project-grid {
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 -10px;
		.project {
			margin: 10px;
			flex: 40%;
			min-width: 210px;
			text-align: center;
			background-color: lighten($offwhite, 22%);
			border-radius: 2%;
			h3 {
				color: lighten($navyblue, 0.2);
				font-size: 1.5em;
				margin: 22px;
			}
			.img-container {
				position: relative;
				width: 90%;
				margin: auto;
				overflow: hidden;
				border-radius: 1%;
				.img-overlay {
					background: rgba(0, 0, 0, 0.7);
					position: absolute;
					height: 99%;
					width: 100%;
					left: 0;
					top: 0;
					bottom: 0;
					right: 0;
					opacity: 0;
					-webkit-transition: all 0.4s ease-in-out 0s;
					-moz-transition: all 0.4s ease-in-out 0s;
					transition: all 0.4s ease-in-out 0s;
				}
				&:hover .img-overlay {
					opacity: 1;
				}
				&:hover .img-info {
					top: 50%;
					left: 50%;
					opacity: 1;
				}
				img {
					width: 100%;
				}
				.img-info {
					position: absolute;
					text-align: center;
					padding-left: 1em;
					padding-right: 1em;
					width: 100%;
					top: 80%;
					left: 50%;
					opacity: 0;
					color: #fff;
					-webkit-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					-webkit-transition: all 0.3s ease-in-out 0s;
					-moz-transition: all 0.3s ease-in-out 0s;
					transition: all 0.3s ease-in-out 0s;
					h3 {
						margin-top: 0;
						color: #fff;
					}
					p {
						margin: 0 14%;
					}
				}
			}
			span {
				background-color: lighten($offwhite, 12%);
				padding: 3px 5px;
				margin: 11px 3px 14px 3px;
				border-radius: 3px;
				display: inline-block;
				font-size: 0.9em;
			}
		}
	}
}

#skills {
	padding: 0;
	border-bottom: 3px dashed $navyblue;
	//triangle section title
	.triangle-container {
		overflow: hidden;
		padding: 0;
		position: relative;
	}
	.triangle-title {
		background-color: $navyblue;
		background-size: cover;
		height: 160px;
		color: white;
		h2 {
			font-size: 3.8em;
			margin: 0;
			padding: 14px 0 0 24px;
		}
	}
	.skills-content {
		background-color: lighten($offwhite, 22%);
		padding: 10% 8%;
		position: relative;
	}
	.skills-content > div {
		position: relative;
		z-index: 1;
	}
	.skills-content:before {
		content: '';
		background-color: lighten($offwhite, 22%);
		position: absolute;
		height: 100%;
		width: 120%;
		top: -40%;
		left: -10%;
		transform: rotate(-5deg);
		z-index: 0;
	}
	//content
	.container {
		position: relative;
		margin: -28% 8% 0 8%;
		padding-bottom: 3%;
		display: flex;
		flex-wrap: wrap;
		z-index: 2;
		.skills-col1 {
			width: 60%;
			@media (max-width: 640px) {
				width: 100%;
			}
			h3 {
				color: $navyblue;
				text-align: center;
				font-size: 1.4em;
				&:first-of-type {
					padding-top: 20px;
				}
			}
			.skill-box {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-evenly;
				margin: 15px 20px 15px 0;
				padding: 10px 0;
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
				.skill {
					width: 21%;
					margin: 0 5%;
					// border: 1px solid red;
					img {
						width: 60%;
						display: block;
						margin: 5px auto 0 auto;
					}
					h4 {
						color: $navyblue;
						text-align: center;
						font-size: 0.9em;
						margin: 0 0 5px 0;
					}
				}
			}
		}
		.skills-col2 {
			width: 35%;
			padding: 0 0 0 20px;
			@media (max-width: 640px) {
				width: 100%;
			}
			// border-left: 2px dashed $navyblue;
			// border: 1px solid red;
			img {
				width: 40%;
				display: block;
				margin: 0 auto;
			}
			h3 {
				color: $navyblue;
				text-align: center;
				font-size: 1.4em;
				margin: 10px 0 0 0;
			}
			p {
				color: lighten($navyblue, 0.3);
				margin: 6px 0 18px 0;
				text-align: center;
				font-size: 1.2em;
			}
		}
	}
}

#education {
	background-color: lighten($offwhite, 26%);
	padding-bottom: 5%;
	h2 {
		margin: 10px 0 40px 0;
		font-size: 3.5em;
		text-align: center;
		color: $navyblue;
	}
	hr {
		margin: 15px 20px 25px 20px;
		border: 0;
		height: 2px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $navyblue, rgba(0, 0, 0, 0));
	}
	.school-box {
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		padding: 20px 5%;
		margin: 10px 0 20px 0;
		background-color: lighten($offwhite, 30%);
		h4 {
			font-size: 1.2em;
			color: lighten($navyblue, 10%);
		}
		.school-name {
			display: inline;
		}
		.school-dates {
			float: right;
			margin: 0;
		}
		h6 {
			color: lighten($navyblue, 15%);
			font-style: italic;
			font-size: 0.9em;
			margin: 10px 0 0 0;
		}
		li {
			color: lighten($navyblue, 25%);
			line-height: 1.4em;
		}
	}
}

#triangle-transition {
	position: absolute;
	overflow: hidden;
	width: 70%;
	min-width: 320px;
	@media (max-width: 768px) {
		width: 100%;
	}
	left: 0;
	right: 0;
	margin: -40px auto 0 auto;
	section {
		position: relative;
		padding: 20px;
		background: lighten($offwhite, 22%); //background of section below
		color: #fff;
		text-align: center;
	}
	.triangles {
		background: lighten($offwhite, 26%);
	}
	/* Triangles */
	.triangles::before,
	.triangles::after {
		position: absolute;
		content: '';
		pointer-events: none;
		left: 50%;
		width: 50px;
		height: 50px;
		-webkit-transform: translateX(-50%) rotate(45deg);
		transform: translateX(-50%) rotate(45deg);
	}
	.triangles::after {
		bottom: -25px;
		z-index: 10;
		background: inherit;
		box-shadow: -50px 50px 0 lighten($offwhite, 26%), 50px -50px 0 lighten($offwhite, 26%);
	}
}

#contact {
	//set up triangle transition
	position: relative;
	overflow: hidden;
	width: 70%;
	min-width: 320px;
	@media (max-width: 768px) {
		width: 100%;
	}
	left: 0;
	right: 0;
	margin: auto;
	z-index: 3;
	//content formatting
	background: lighten($navyblue, 30%);
	min-height: 80vh;
	iframe {
		display: none;
	}
	.container {
		margin: 0 20%;
		h2 {
			margin: 5% 0 15px 0;
			font-size: 3.5em;
			text-align: center;
			color: lighten($offwhite, 26%);
		}
		h3 {
			color: lighten($offwhite, 26%);
			text-align: center;
			font-size: 1.2em;
			margin-left: 10%;
			margin-right: 10%;
		}
		hr {
			margin: 30px 0;
			border: 0;
			height: 2px;
			background-image: linear-gradient(to right, rgba(0, 0, 0, 0), lighten($offwhite, 26%), rgba(0, 0, 0, 0));
		}
		form {
			input,
			textarea {
				width: 95%;
				height: 30px;
				padding: 5px 10px;
				font-size: 1.3em;
				color: #999;
				background: lighten($offwhite, 26%);
				border: 2px solid lighten($navyblue, 20%);
				margin-bottom: 25px;
				-webkit-transition: all 0.1s ease-in-out;
				-moz-transition: all 0.1s ease-in-out;
				-ms-transition: all 0.1s ease-in-out;
				-o-transition: all 0.1s ease-in-out;
				transition: all 0.1s ease-in-out;
			}
			input:focus,
			textarea:focus {
				border: 2px solid $navyblue;
				color: $navyblue;
				background-color: lighten($offwhite, 32%);
			}
			textarea {
				height: 180px;
				resize: none;
				padding-top: 10px;
			}
			div {
				text-align: center;
			}
			#submit-success {
				color: lighten($offwhite, 26%);
				width: 60%;
				margin: 0 auto 20px auto;
				padding: 4px;
				border: 2px solid lighten($offwhite, 26%);
				border-radius: 4px;
				#success-close {
					border: 1px solid lighten($offwhite, 26%);
					width: 16px;
					height: 16px;
					float: right;
					cursor: pointer;
					p {
						padding: 0;
						margin: -3px 0 0 0;
						-moz-user-select: none;
						-khtml-user-select: none;
						-webkit-user-select: none;
						-ms-user-select: none;
						user-select: none;
					}
				}
			}
			.submit {
				width: 33%;
				min-width: 120px;
				padding: 5px 10px;
				margin-bottom: 25px;
				font-size: 1.3em;
				background: lighten($navyblue, 30%);
				height: 40px;
				text-transform: uppercase;
				letter-spacing: 1px;
				color: lighten($offwhite, 26%);
				border: 2px solid lighten($offwhite, 26%);
				-webkit-transition: all 0.1s ease-in-out;
				-moz-transition: all 0.1s ease-in-out;
				-ms-transition: all 0.1s ease-in-out;
				-o-transition: all 0.1s ease-in-out;
				transition: all 0.1s ease-in-out;
			}
			.submit:hover {
				color: #fff;
				border: 2px solid lighten($navyblue, 20%);
				background: $navyblue;
				cursor: pointer;
			}
			.required {
				color: #b43838;
			}
		}
	}
}

#footer {
	width: 70%;
	min-width: 320px;
	@media (max-width: 768px) {
		width: 100%;
	}
	margin: 0 auto;
	padding: 2px 0;
	background-color: $navyblue;
	color: #fff;
	text-align: center;
	.social-icons {
		display: flex;
		justify-content: center;
		margin: 12px 0 2px 0;
		font-size: 12px;
		.social {
			border: 1px solid lighten($navyblue, 30%);
			border-radius: 5%;
			margin: 0 5px;
			width: 60px;
			padding: 6px 0 4px 0;
			.icon {
				img {
					width: 30px;
					height: 30px;
				}
			}
			p {
				margin: 2px 0;
				color: white;
			}
			&:hover {
				background-color: lighten($navyblue, 30%);
				-o-transition: 0.5s;
				-ms-transition: 0.5s;
				-moz-transition: 0.5s;
				-webkit-transition: 0.5s;
				transition: 0.5s;
			}
		}
	}
}
